{% extends 'tests/base.html' %}

{% block content %}
<h1>{{ test }}<h1>
<form action='{% url 'result' test_id %}' method='POST'>
    {% csrf_token %}
    
        
        {% for question in questions %}
            <p>{{ question }}</p>
            {% for ans in question.get_answers %}
                <input type='radio' name='{{ question.id }}' value='{{ ans.id }}'> {{ ans }}</input><br>
            {% endfor %}
        {% endfor %}
    <button type='submit'>Submit</button>
</form>


{% endblock content %}

